/*  

    font-family: 'Fredericka the Great', cursive;
    
    font-family: 'Gruppo', cursive;
    
    font-family: 'Handlee', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Square Peg', cursive;

    */

:root {
  --branding-color: blueviolet;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 90px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}

h3 {
  font-family: "Handlee", cursive;
}

p {
  font-size: 16px;
  line-height: 27px;
}

.second-heading {
  color: #f96d00;
}

.block {
  margin: 150px 200px;
}

.name-style {
  font-family: "Emilys Candy", cursive;
  font-weight: 150px 200px;
}
.heading-titles {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 150px 20px;
  background: url("../images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  border: 2px solid black;
}

.headings {
  margin: 30px 150px;
  padding: 30px 30px;
  border: 3px solid black;
  border-radius: 5px;
}

.btn-branding {
  background-color: #fa8730;
  border-radius: 4px;
  border-color: #f96d00;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding-outline {
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.icons {
  font-size: 60px;
}
.icon-description {
  margin-top: 20px;
}

.nav-background {
  background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
  font-family: "Fredericka the Great", cursive;
  font-size: 20px;
}

.borders {
  border-top: 3px solid #c2b3d8;
  border-left: 3px solid #a59ab6;
  border-right: 3px solid #a59ab6;
}

.about-section {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  padding: 20px;
  border-left: 3px solid #a59ab6;
  border-right: 3px solid #a59ab6;
}

.skills-section {
  background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
  padding: 20px;
}

.projects-section {
  background: linear-gradient(-20deg, #fbfcdb 0%, #e9defa 100%);
  padding: 20px;
  border-bottom: 3px solid #c2b3d8;
}

.contact-section {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.project-images {
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgb(141, 138, 138);
}

.me-image {
  margin-left: 70px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px rgb(141, 138, 138);
}

@media (max-width: 900px) {
  body {
    margin: 30px;
  }

  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    margin-top: 60px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .block {
    margin: 10px;
  }
  .icons {
    font-size: 50px;
  }

  .icon-description {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .headings {
    border: none;
    margin: auto;
    padding: auto;
  }
  .hero {
    background: url("../images/background2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .avatar {
    width: 35px;
  }

  .nav-background {
    font-size: smaller;
  }

  .me-image {
    display: block;
    margin: auto;
  }
}
