/*  font-family: 'Amatic SC', cursive;

    font-family: 'Fredericka the Great', cursive;
    
    font-family: 'Gruppo', cursive;
    
    font-family: 'Handlee', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Square Peg', cursive;

    */

:root {
  --branding-color: blueviolet;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 90px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}

h3 {
  font-family: "Handlee", cursive;
}

.name-style {
  font-family: "Emilys Candy", cursive;
  font-weight: 200px;
}

p {
  font-family: "Poppins", sans-serif;
}

.hero {
  text-align: center;
  padding: 160px 20px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
